/* line 1, ../scss/style.scss */
#header_area {
  min-height: 80px;
}
@media (max-width: 768px) {
  /* line 1, ../scss/style.scss */
  #header_area {
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 900;
    background-color: #fff;
    margin-bottom: 0;
  }
}
/* line 11, ../scss/style.scss */
#header_area .top-bar {
  height: 30px;
  background-color: #ebebeb;
}
@media (max-width: 768px) {
  /* line 11, ../scss/style.scss */
  #header_area .top-bar {
    display: none;
  }
}
/* line 17, ../scss/style.scss */
#header_area .top-bar .layout {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
}
/* line 22, ../scss/style.scss */
#header_area .top-bar .layout .tabletdesktop {
  float: right;
  cursor: pointer;
  height: 30px;
  padding-top: 5px;
  color: blue;
  margin-left: 10px;
  font-size: .875em;
}
/* line 30, ../scss/style.scss */
#header_area .top-bar .layout .tabletdesktop .country_logo {
  border-radius: 20px;
  height: 20px;
  width: 20px;
}
/* line 35, ../scss/style.scss */
#header_area .top-bar .layout .tabletdesktop .countrypicker {
  width: 100%;
  display: none;
  position: relative;
  box-shadow: 0px 1px 16px #5c5c5c;
  padding: 10px;
}
/* line 41, ../scss/style.scss */
#header_area .top-bar .layout .tabletdesktop .countrypicker .toparrow {
  width: 100%;
  height: 15px;
  position: absolute;
  top: -15px;
  left: 10%;
  overflow: hidden;
  -webkit-box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
  box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
}
/* line 51, ../scss/style.scss */
#header_area .top-bar .layout .tabletdesktop .countrypicker .toparrow:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 11px;
  left: inherit;
  right: 11px;
  -webkit-box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
  box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
  z-index: 900;
}
/* line 70, ../scss/style.scss */
#header_area .top-bar .layout .tabletdesktop:hover .countrypicker {
  display: block;
  margin-top: 15px;
  width: 170px;
  z-index: 900;
  padding: 0;
  background-color: #fff;
}
/* line 78, ../scss/style.scss */
#header_area .top-bar .layout .tabletdesktop:hover .countrypicker ul li {
  line-height: 40px;
  padding: 5px;
  width: 100%;
  border-bottom: 1px solid #000;
}
/* line 84, ../scss/style.scss */
#header_area .top-bar .layout .tabletdesktop:hover .countrypicker ul li a img {
  margin-right: 5px;
}
/* line 93, ../scss/style.scss */
#header_area .top-bar .layout .arrow-right:after {
  content: '';
  display: inline-block;
  height: 0;
  width: 0;
  border-top: .25em solid transparent;
  border-bottom: .25em solid transparent;
  border-left: .375em solid #858585;
}
/* line 102, ../scss/style.scss */
#header_area .top-bar .layout .top-bar-ul {
  float: right;
}
/* line 104, ../scss/style.scss */
#header_area .top-bar .layout .top-bar-ul li {
  float: right;
  margin: 0 10px;
  height: 30px;
  padding-top: 5px;
}
/* line 109, ../scss/style.scss */
#header_area .top-bar .layout .top-bar-ul li a {
  padding-right: 5px;
}
/* line 116, ../scss/style.scss */
#header_area .headerInner {
  height: 90px;
  margin-top: 10px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  /* line 116, ../scss/style.scss */
  #header_area .headerInner {
    height: auto;
  }
}
/* line 125, ../scss/style.scss */
#header_area .headerInner .logo {
  float: left;
  display: block;
  padding: 10px .9375rem;
}
/* line 129, ../scss/style.scss */
#header_area .headerInner .logo img {
  height: 60px;
  width: 167px;
}
/* line 134, ../scss/style.scss */
#header_area .headerInner .search {
  float: left;
  display: block;
  margin-right: 0%;
  height: 60px;
  width: 100%;
  padding: 0;
  position: relative;
  top: 0;
  background: transparent;
}
@media (max-width: 768px) {
  /* line 134, ../scss/style.scss */
  #header_area .headerInner .search {
    width: 103%;
    margin-left: -2%;
  }
}
/* line 148, ../scss/style.scss */
#header_area .headerInner .search form {
  max-width: 450px;
  margin-top: 25px;
  position: relative;
}
@media (max-width: 768px) {
  /* line 148, ../scss/style.scss */
  #header_area .headerInner .search form {
    max-width: 100%;
    padding: 0;
  }
}
/* line 156, ../scss/style.scss */
#header_area .headerInner .search form input {
  height: 40px;
  padding-right: 50px;
  background-image: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
/* line 163, ../scss/style.scss */
#header_area .headerInner .search form .btn-default {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  right: -5px;
  top: -1px;
  background-color: #ADCCDB;
  background-image: none;
}
/* line 172, ../scss/style.scss */
#header_area .headerInner .search form .btn-default i {
  color: #fff;
  font-size: 1.5em;
  margin-left: -15%;
  margin-right: auto;
}
/* line 181, ../scss/style.scss */
#header_area .headerInner .basket {
  display: block;
  float: right;
  position: relative;
  margin-right: 0%;
  height: 40px;
  margin-top: 30px;
  padding: 0;
}
@media (max-width: 768px) {
  /* line 181, ../scss/style.scss */
  #header_area .headerInner .basket {
    margin-top: 0;
  }
}
/* line 193, ../scss/style.scss */
#header_area .headerInner .basket a i {
  position: relative;
  font-size: 3em;
}
/* line 197, ../scss/style.scss */
#header_area .headerInner .basket a .badge {
  position: absolute;
  bottom: -20%;
  left: -15%;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
}
/* line 206, ../scss/style.scss */
#header_area .headerInner .basket .minibasketOverlay {
  position: absolute;
  left: -20em;
  bottom: -6em;
  display: none;
  background-color: #fff;
  z-index: 902;
  width: 400px;
  padding: 2em;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
/* line 219, ../scss/style.scss */
#header_area .headerInner .basket:hover .minibasketOverlay {
  display: block;
}
@media (max-width: 768px) {
  /* line 219, ../scss/style.scss */
  #header_area .headerInner .basket:hover .minibasketOverlay {
    display: none;
  }
}
/* line 227, ../scss/style.scss */
#header_area .headerInner .logo-text {
  padding-top: 5px;
  margin: 0 auto;
  text-align: center;
}
/* line 231, ../scss/style.scss */
#header_area .headerInner .logo-text img {
  width: 130px;
  height: auto;
}
@media (max-width: 768px) {
  /* line 116, ../scss/style.scss */
  #header_area .headerInner {
    height: 110px;
  }
}
/* line 240, ../scss/style.scss */
#header_area .main-naviagtion {
  max-height: 50px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
/* line 244, ../scss/style.scss */
#header_area .main-naviagtion ul {
  list-style-type: none;
  width: 100%;
  padding-left: 0;
}
/* line 248, ../scss/style.scss */
#header_area .main-naviagtion ul li {
  float: left;
  padding: 10px;
}
/* line 251, ../scss/style.scss */
#header_area .main-naviagtion ul li a {
  width: 100%;
  display: block;
  height: 50px;
  line-height: 60px;
  margin: 0 .625em 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.125em;
}
/* line 262, ../scss/style.scss */
#header_area .main-naviagtion ul .level1 {
  float: left;
}
/* line 265, ../scss/style.scss */
#header_area .main-naviagtion ul .level1:hover .submenu {
  height: auto;
  transition: 2s;
}
/* line 270, ../scss/style.scss */
#header_area .main-naviagtion ul .level1 .submenu {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  max-width: 1200px;
  width: 100%;
  height: 0;
  font-family: "Roboto Condensed";
  position: absolute;
  top: 50px;
  left: 0;
  overflow: hidden;
  z-index: 900;
  background: transparent;
}
/* line 285, ../scss/style.scss */
#header_area .main-naviagtion ul .level1 .submenu .menu-hover {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  height: 100%;
  height: -webkit-calc(100% - 17px);
  height: calc(100% - 17px);
  padding: 30px 0;
  overflow: hidden;
  background: #ebebeb;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
/* line 298, ../scss/style.scss */
#header_area .main-naviagtion ul .level1 .submenu .menu-hover ul.spec {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  height: auto;
  list-style: none;
  overflow: hidden;
  border-left: 1px solid #c2c2c2;
  float: left;
  display: block;
  margin-right: 0%;
  width: 25%;
  padding-left: 1.875em;
  padding-right: 1.875em;
}
/* line 314, ../scss/style.scss */
#header_area .main-naviagtion ul .level1 .submenu .menu-hover ul.spec:first-child {
  border-left: none;
}
/* line 317, ../scss/style.scss */
#header_area .main-naviagtion ul .level1 .submenu .menu-hover ul.spec li {
  float: none;
}
/* line 319, ../scss/style.scss */
#header_area .main-naviagtion ul .level1 .submenu .menu-hover ul.spec li.level22 {
  font-weight: bolder;
}

/* line 332, ../scss/style.scss */
html,
body {
  min-height: 100%;
}

/* line 336, ../scss/style.scss */
a {
  text-decoration: none;
}

/* line 340, ../scss/style.scss */
.main-header {
  padding: 5px;
  text-align: center;
  color: white;
  text-shadow: #222222 0px -1px 1px;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}
@media (max-width: 769px) {
  /* line 340, ../scss/style.scss */
  .main-header {
    height: 30px;
  }
  /* line 350, ../scss/style.scss */
  .main-header h1 {
    margin: 0;
  }
}
/* line 354, ../scss/style.scss */
.main-header a {
  position: absolute;
  left: 20px;
  padding: 0;
  font-size: 32px;
  margin: 0;
}
/* line 360, ../scss/style.scss */
.main-header a:hover {
  text-decoration: none;
}
/* line 364, ../scss/style.scss */
.main-header a:focus {
  text-decoration: none;
}

/* line 369, ../scss/style.scss */
.main-nav {
  position: fixed;
  top: 124px;
  width: 0;
  height: 100%;
  background: #3B3B3B;
  overflow-y: auto;
  transition: width 0.3s ease;
}
/* line 378, ../scss/style.scss */
.main-nav .l1 #l21 {
  position: absolute;
  width: 0%;
  top: 0;
  display: none;
}
/* line 383, ../scss/style.scss */
.main-nav .l1 #l21:target {
  display: block;
  width: 100%;
  transition: width 0.3s ease;
}
/* line 384, ../scss/style.scss */
.main-nav .l1 #l21:target a {
  display: block;
  background: #000;
  color: #fff;
}
/* line 393, ../scss/style.scss */
.main-nav .l1 #l21:target + .l2 {
  display: none;
}
/* line 398, ../scss/style.scss */
.main-nav a {
  display: block;
  background: linear-gradient(#3e3e3e, #383838);
  border-top: 1px solid #484848;
  border-bottom: 1px solid #2E2E2E;
  color: white;
  padding: 15px;
}
/* line 406, ../scss/style.scss */
.main-nav a:hover, .main-nav a:focus {
  background: linear-gradient(#484848, #383838);
}
/* line 410, ../scss/style.scss */
.main-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 34px;
  background: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

/* line 421, ../scss/style.scss */
.main-content {
  padding: 20px 20px 20px 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
@media (max-width: 769px) {
  /* line 421, ../scss/style.scss */
  .main-content {
    padding-top: 20px;
  }
}

/* line 432, ../scss/style.scss */
#content {
  display: block;
}
@media (max-width: 768px) {
  /* line 432, ../scss/style.scss */
  #content {
    padding-top: 100px;
    width: 100%;
  }
}
/* line 438, ../scss/style.scss */
#content .loadMore {
  text-align: center;
  padding: 1em 0;
}
/* line 442, ../scss/style.scss */
#content article {
  float: left;
}
/* line 445, ../scss/style.scss */
#content .text-content {
  max-height: 20em;
}
/* line 447, ../scss/style.scss */
#content .text-content .boxcontent {
  max-height: 10em;
  padding-bottom: 0;
  margin: 0;
  padding: 0;
}
/* line 453, ../scss/style.scss */
#content .text-content .box {
  padding-bottom: 2em;
}
/* line 457, ../scss/style.scss */
#content .boxcontent {
  min-height: 35.625em;
  position: relative;
  height: 35.625em;
  margin: 15px;
}
/* line 462, ../scss/style.scss */
#content .boxcontent .absolute-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 468, ../scss/style.scss */
#content .boxcontent .absolute-cover .image {
  background-image: url(img/Frise%201_spot%205_outdoor_uk.jpg);
  background-image: url(../img/Frise%201_spot%205_outdoor_uk.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
}
/* line 477, ../scss/style.scss */
#content .full {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
}
/* line 483, ../scss/style.scss */
#content .large {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%;
}
/* line 489, ../scss/style.scss */
#content .small {
  float: left;
  display: block;
  margin-right: 0%;
  width: 25%;
}
@media (max-width: 768px) {
  /* line 489, ../scss/style.scss */
  #content .small {
    width: 50%;
  }
}
/* line 498, ../scss/style.scss */
#content .devider {
  border-top: 1px solid #d6d6d6;
  width: 100%;
  float: left;
  margin-top: 15px;
}

/* line 507, ../scss/style.scss */
.main-content .layoutInnerf {
  max-width: 1200px;
  margin-left: auto;
  width: 100%;
  margin-right: auto;
  position: relative;
}

/* line 517, ../scss/style.scss */
.searchPage {
  padding-left: 0;
}
@media (max-width: 768px) {
  /* line 517, ../scss/style.scss */
  .searchPage {
    padding-top: 40px;
    width: 100%;
  }
}
/* line 523, ../scss/style.scss */
.searchPage .leftMenu {
  float: left;
  width: 20%;
  margin-top: -1.5em;
  padding-top: 2em;
  padding-left: 20px;
}
@media (max-width: 768px) {
  /* line 523, ../scss/style.scss */
  .searchPage .leftMenu {
    width: 100%;
  }
}
/* line 532, ../scss/style.scss */
.searchPage .leftMenu .SearchFilter {
  padding-left: 10px;
  border-bottom: 1px solid #ccc;
}
/* line 535, ../scss/style.scss */
.searchPage .leftMenu .SearchFilter .panel-heading {
  background: none;
}
/* line 539, ../scss/style.scss */
.searchPage .leftMenu .SearchFilter .panel,
.searchPage .leftMenu .SearchFilter .padel-default {
  border: 0;
}
/* line 542, ../scss/style.scss */
.searchPage .leftMenu .SearchFilter .panel-body {
  border: none;
}
/* line 545, ../scss/style.scss */
.searchPage .leftMenu .SearchFilter .panel-group {
  margin-bottom: 0;
}
/* line 548, ../scss/style.scss */
.searchPage .leftMenu .SearchFilter .panel-collapse {
  border: 0;
}
/* line 551, ../scss/style.scss */
.searchPage .leftMenu .SearchFilter ul ul {
  padding-left: 2em;
}
/* line 554, ../scss/style.scss */
.searchPage .leftMenu .SearchFilter p {
  height: 100%;
  padding-top: 10px;
}
/* line 559, ../scss/style.scss */
.searchPage .leftMenu .resetFilter {
  padding: 10px 0;
  padding-left: 10px;
}
/* line 565, ../scss/style.scss */
.searchPage .leftmenumobile .panel-title {
  text-align: center;
}
/* line 568, ../scss/style.scss */
.searchPage .leftmenumobile ul ul {
  padding-left: 2em;
}
/* line 571, ../scss/style.scss */
.searchPage .leftmenumobile .sub {
  margin-bottom: 1em;
}
/* line 573, ../scss/style.scss */
.searchPage .leftmenumobile .sub .btn {
  margin-top: -1em;
}

/* line 580, ../scss/style.scss */
.searchResult {
  float: left;
  width: 80%;
  height: 100%;
  margin-top: -1.5em;
  padding-top: 2em;
  border-left: 1px solid #ccc;
}
@media (max-width: 768px) {
  /* line 580, ../scss/style.scss */
  .searchResult {
    width: 100%;
  }
}
/* line 590, ../scss/style.scss */
.searchResult .searchQuery {
  padding-left: 1em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
  clear: right;
}
/* line 595, ../scss/style.scss */
.searchResult .searchQuery .searchinput {
  margin: 0 auto;
}
/* line 597, ../scss/style.scss */
.searchResult .searchQuery .searchinput input {
  width: 30%;
  clear: left;
  float: left;
  margin-left: 10em;
}
@media (max-width: 768px) {
  /* line 597, ../scss/style.scss */
  .searchResult .searchQuery .searchinput input {
    width: 100%;
    margin-left: 0;
  }
}
/* line 607, ../scss/style.scss */
.searchResult .searchQuery .searchinput .btn {
  margin-left: 10px;
}
@media (max-width: 768px) {
  /* line 607, ../scss/style.scss */
  .searchResult .searchQuery .searchinput .btn {
    width: 100%;
    margin-top: 1em;
    margin-left: 0;
  }
}
/* line 617, ../scss/style.scss */
.searchResult .searchResultItems {
  clear: right;
  padding-left: 1em;
  height: 100%;
}
/* line 621, ../scss/style.scss */
.searchResult .searchResultItems .textcenter {
  position: absolute;
  bottom: 0;
  height: 25%;
  padding-top: 1em;
  text-align: center;
  width: 100%;
}
/* line 628, ../scss/style.scss */
.searchResult .searchResultItems .textcenter span {
  width: 100%;
}
/* line 631, ../scss/style.scss */
.searchResult .searchResultItems .textcenter .btn {
  background-color: #ccc;
}
/* line 635, ../scss/style.scss */
.searchResult .searchResultItems .ImageWrapper {
  min-height: 20.625em;
  position: relative;
  height: 20.625em;
  margin: 15px;
  margin-bottom: 25px;
}
/* line 641, ../scss/style.scss */
.searchResult .searchResultItems .ImageWrapper .absolute-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
}
/* line 647, ../scss/style.scss */
.searchResult .searchResultItems .ImageWrapper .absolute-cover .image {
  background-image: url(img/Frise%201_spot%205_outdoor_uk.jpg);
  background-image: url(../img/Frise%201_spot%205_outdoor_uk.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
}

/* line 659, ../scss/style.scss */
.layoutInner {
  max-width: 1200px;
  margin-left: auto;
  width: 100%;
  margin-right: auto;
  height: 50px;
  position: relative;
}

/* line 669, ../scss/style.scss */
#footer .layoutInnerf {
  max-width: 1200px;
  margin-left: auto;
  width: 100%;
  margin-right: auto;
  position: relative;
}
/* line 676, ../scss/style.scss */
#footer .footerRoundImages {
  border-top: 1px solid #ccc;
  padding-top: 2em;
}
/* line 679, ../scss/style.scss */
#footer .footerRoundImages h5 {
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
}
/* line 685, ../scss/style.scss */
#footer .footer-img-container {
  margin: 0 auto;
  width: auto;
}
/* line 688, ../scss/style.scss */
#footer .footer-img-container .table {
  display: table;
}
@media (max-width: 768px) {
  /* line 688, ../scss/style.scss */
  #footer .footer-img-container .table {
    display: block;
  }
}
/* line 693, ../scss/style.scss */
#footer .footer-img-container .table .table-cell {
  display: table-cell;
  float: none;
  width: initial;
  text-align: center;
  overflow: hidden!important;
  vertical-align: middle;
  clear: both;
}
@media (max-width: 768px) {
  /* line 693, ../scss/style.scss */
  #footer .footer-img-container .table .table-cell {
    width: 50%;
    display: inline-block;
    float: left;
    clear: right;
  }
}
/* line 707, ../scss/style.scss */
#footer .footer-img-container .table .table-cell img {
  max-width: 120px;
}
/* line 713, ../scss/style.scss */
#footer .footerNews {
  background: #ebebeb;
  padding: 1em 0em;
}
/* line 716, ../scss/style.scss */
#footer .footerNews .footerNewsForm {
  margin-left: 15%;
}
@media (max-width: 768px) {
  /* line 716, ../scss/style.scss */
  #footer .footerNews .footerNewsForm {
    margin-left: 0;
    padding: 0 1em;
    padding-bottom: 1em;
    width: 100%;
  }
}
/* line 725, ../scss/style.scss */
#footer .footerNews .footerNewsForm form .inputs {
  clear: both;
}
/* line 727, ../scss/style.scss */
#footer .footerNews .footerNewsForm form .inputs input {
  float: left;
  display: block;
  margin-right: 0%;
  width: 25.7142857143%;
  margin-right: 20px;
}
@media (max-width: 768px) {
  /* line 727, ../scss/style.scss */
  #footer .footerNews .footerNewsForm form .inputs input {
    width: 100%;
  }
}
/* line 738, ../scss/style.scss */
#footer .footerNews .footerNewsForm form .checkHolder {
  display: block;
  padding-top: 1em;
}
/* line 741, ../scss/style.scss */
#footer .footerNews .footerNewsForm form .checkHolder .check {
  float: left;
}
@media (max-width: 768px) {
  /* line 741, ../scss/style.scss */
  #footer .footerNews .footerNewsForm form .checkHolder .check {
    float: none;
  }
}
/* line 746, ../scss/style.scss */
#footer .footerNews .footerNewsForm form .checkHolder .check input {
  width: auto;
  margin: 10px;
}
/* line 752, ../scss/style.scss */
#footer .footerNews .footerNewsForm form .visible-xs {
  margin-right: auto;
  margin-left: auto;
}
/* line 760, ../scss/style.scss */
#footer .footerGroup .panel-heading {
  text-align: center;
  background-image: none;
}
/* line 764, ../scss/style.scss */
#footer .footerGroup ul {
  list-style-type: none;
  padding: 0;
}
/* line 767, ../scss/style.scss */
#footer .footerGroup ul li {
  border-bottom: 1px solid #ccc;
  text-align: center;
}
/* line 773, ../scss/style.scss */
#footer .footerMenu {
  padding-top: 5em;
}
@media (max-width: 768px) {
  /* line 773, ../scss/style.scss */
  #footer .footerMenu {
    padding-top: 1em;
  }
}
/* line 778, ../scss/style.scss */
#footer .footerMenu nav {
  display: block;
  width: 75%;
}
/* line 781, ../scss/style.scss */
#footer .footerMenu nav section {
  float: left;
  width: 33%;
}
/* line 784, ../scss/style.scss */
#footer .footerMenu nav section header {
  padding-bottom: 1em;
  text-align: center;
  font-size: 1.1em;
}
/* line 789, ../scss/style.scss */
#footer .footerMenu nav section ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
/* line 793, ../scss/style.scss */
#footer .footerMenu nav section ul li {
  padding-top: 10px;
}
/* line 799, ../scss/style.scss */
#footer .footerMenu .footerContactInfo {
  float: left;
  width: 25%;
  text-align: center;
}
@media (max-width: 768px) {
  /* line 799, ../scss/style.scss */
  #footer .footerMenu .footerContactInfo {
    width: 100%;
    margin: 0 auto;
  }
}
/* line 809, ../scss/style.scss */
#footer .footerLogo {
  margin-top: 2em;
}
/* line 811, ../scss/style.scss */
#footer .footerLogo .FooterLogoWrapper {
  width: 145px;
  height: 52px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 817, ../scss/style.scss */
#footer .footerLogo .FooterLogoWrapper img {
  max-width: 100%;
}
/* line 821, ../scss/style.scss */
#footer .footerLogo .byLine {
  padding-top: 1em;
  text-align: center;
  font-style: italic;
  padding-bottom: 1em;
}
/* line 828, ../scss/style.scss */
#footer .copyrights {
  text-align: center;
}
@media (max-width: 768px) {
  /* line 828, ../scss/style.scss */
  #footer .copyrights {
    font-size: 0.8em;
  }
}
/* line 834, ../scss/style.scss */
#footer .footerCards {
  padding: 2em 0;
  text-align: center;
}
/* line 837, ../scss/style.scss */
#footer .footerCards img {
  height: 22px;
  margin: 0 10px;
}

/* line 844, ../scss/style.scss */
.clearfix {
  clear: both;
}
